/* Grid Layout Component */

// Main Grid System
.release-display-grid{
	&.release-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.release{
		position:relative;
		width:100%;

		img{
			width:100%;
			height:auto;
		}

		.entry-link-mask {
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 5;
		}
	}
}

@media (min-width: 768px) {

	.release-columns-grid-2,
	.release-columns-grid-4,
	.release-columns-grid-5,
	.release-columns-grid-6 {
		.release {
			width: calc(100% / 2);
		}
	}
} /* tablet up */

@media (min-width: 992px) {

	.release-columns-grid-2{
		.release {
			width: calc(100% / 2);
		}
	}

	.release-columns-grid-3,
	.release-columns-grid-5,
	.release-columns-grid-6 {
		.release {
			width: calc(100% / 3);
		}
	}

	.release-columns-grid-4{
		.release {
			width: calc(100% / 4);
		}
	}
} /* laptop up */

@media (min-width: 1200px) {

} /* desktop up */